@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Our web application is designed to streamline and simplify the management of concert hall venues. With this platform, you can effortlessly handle essential operations, including creating, reading, updating, and deleting venue information. Whether you're organizing events, performances, or gatherings, our application provides a user-friendly interface to efficiently manage and organize venue details.</p>

    <p>The application that I created is an assignment of the course WEB524 during Fall 2023 class.</p>

    <ul>
        <li>Programmer: Aum Amitkumar Soni</li>
        <li>Email : aasoni2@myseneca.ca</li>
        <li>Title: Assignment 1</li>
    </ul>
</main>