@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        7 Nightstar Road<br />
        Scarborough, ON M1X1Z8<br />
        <abbr title="Phone">P:</abbr>
        1234567890
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>

    <ul>
        <li>Programmer: Aum Amitkumar Soni</li>
        <li>Email : aasoni2@myseneca.ca</li>
        <li>Title: Assignment 1</li>
    </ul>
</main>